<footer  class="text-center text-lg-start bg-dark text-info">

    <!-- Section -->
    <section class="pt-1">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <!-- column 1 -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4"><i class="bi bi-bootstrap me-2"></i>Booking</h6>
                    <div>
                        <a href="#" class="me-4 text-reset">
                            <i class="bi bi-facebook text-success"></i>
                        </a>
                        <a href="#" class="me-4 text-reset">
                            <i class="bi bi-twitter text-success"></i>
                        </a>
                        <a href="#" class="me-4 text-reset">
                            <i class="bi bi-instagram text-success"></i>
                        </a>
                        <a href="#" class="me-4 text-reset">
                            <i class="bi bi-linkedin text-success"></i>
                        </a>
                    </div>
                    <div class="mt-2 fs-6">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, aliquid similique. Quia ullam
                            dolorem velit recusandae quaerat!</p>
                    </div>
                </div>
                <!-- column 2 -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Hotels</h6>
                    <p>
                        <a href="#!" class="text-reset">Hilton</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Kempinski Nile</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Marriott Mena House</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Grand Hyatt Cairo</a>
                    </p>
                </div>
                <!-- column 3 -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Towns</h6>
                    <p>
                        <a href="#!" class="text-reset">Cairo</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Sharm El-Sheikh</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Hurghada</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Alexandria</a>
                    </p>
                </div>
                <!-- column 4 -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="bi bi-house-door-fill me-3 text-success"></i> El-Orouba, Qism El-Nozha, Cairo Governorate 2466,
                        Cairo, Egypt</p>
                    <p><i class="bi bi-envelope-fill me-3 text-success"></i>Info@Booking.com</p>
                    <p><i class="bi bi-phone-fill me-3 text-success"></i> + 02 268 62 34</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
       <span class="text-danger">© 2021 Copyright:</span> 
        <i class="bi bi-bootstrap mx-1"></i>
        <a class="text-reset fw-bold" href="#!">Booking.com</a>
    </div>
</footer>
