<div class="container-fluid text-center p-3 danger-emphasis" id="gbg">
  <div class="row">
    <button class="btn danger-emphasis col-1" [routerLink]="['/products/0/edit']"><i class="bi bi-plus-square"></i></button>
    <h3 class="col-11 fw-bold font-monospace">OUR PRODUCTS</h3>
    </div>
    
</div>

<div class="row" id="gbg">
  <div class="d-flex justify-content-center card bg-dark bg-gradient text-light my-3 mx-auto p-0 col-4 shadow" *ngIf="loading">
    <div class="spinner-border" role="status"></div>
      <span class="visually">Loading...</span>
    
  </div>
<app-carditem *ngFor="let prod of arr" [item]="prod" (Showdelevent)="openModal($event)" class="col-4"></app-carditem> 
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-warning">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Are You Sure?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       {{ProductToDelName}} Will Remove!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="confirmDel()" data-bs-dismiss="modal">Del!</button>
      </div>
    </div>
  </div>
</div>
<!-- <button class="btn btn-outline-info">test</button> -->