<!-- <app-navbar 
(ShowLogInEvent)="ShowLogIn($event)" 
(ShowProductsEvent)="ShowProducts($event)"
(ShowHomeEvent)="ShowHome($event)">
</app-navbar> -->
<!-- ------------------------------------------------------- -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <app-pagenot-found></app-pagenot-found> -->
<!-- <div *ngIf="Home">
     <app-table-input></app-table-input>
</div>
<div *ngIf="LogIn">
     <app-login></app-login>
</div>
<div *ngIf="Products">
     <app-carditem></app-carditem>
</div> -->




<app-footer></app-footer>